.contact {
	width: 90%;
	margin: 0 auto 20px;
	padding: 40px;
	background-color: #eee;
	border: 1px solid #000;
	border-radius: 20px;
}

.form-label {
	font-weight: bolder !important;
	font-size: 16px !important;
}

.textarea {
	height: 100px;
	resize: none;
}

.not-sent {
	display: none;
}

.sent {
	opacity: 0;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
}

@media (max-width: 990px) {
	.inputs {
		display: block;
		width: 100%;
		margin: 0;
	}

	.submit {
		margin-left: 0;
	}
}
