.footer {
	height: 150px;
	position: relative;
}

.copy {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	font-size: 12px;
}

.info {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

a i {
	font-size: 25px;
	color: #ef9a61;
	text-decoration: none;
	border: 2px solid #ef9a61;
	padding: 10px 15px;
	border-radius: 100%;
}

@media (max-width: 990px) {
	.footer {
		height: 250px;
	}
}
