.footer {
	height: 150px;
	background: linear-gradient(45deg, #ef9a61, #fcddc8);
	position: relative;
}

.copy {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	font-size: 12px;
}

.info {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}
