.navbar {
	position: fixed;
	top: 0;
}

.navbar-brand {
	font-weight: bolder !important;
}

.nav-link {
	font-weight: bold !important;
}

.img-logo {
	height: 50px;
}

.txt-logo {
	font-size: 11px;
	width: 5px;
}

.bg-nav {
	background: linear-gradient(45deg, #ef9a61, #fcddc8);
}

.bg-nav .nav-link {
	color: #000 !important;
}

.bg-nav .nav-link:hover {
	color: #fff !important;
}

.bg-light {
	background: rgba(238, 238, 238, 0.5);
}
