.navbar {
	position: fixed;
	top: 0;
}

.navbar-brand {
	font-weight: bolder !important;
}

.nav-link {
	font-weight: bold !important;
}

.img-logo {
	height: 50px;
}

.navbar-background {
	/* background-color: ; */
}
