.navbar {
	position: fixed;
	top: 0;
	z-index: 20;
}

.navbar-brand {
	user-select: none !important;
	font-weight: bolder !important;
}

.nav-link {
	font-weight: bold !important;
	user-select: none !important;
}

.img-logo {
	height: 50px;
}

.txt-logo {
	font-size: 11px;
	width: 5px;
}

.bg-nav {
	background: linear-gradient(45deg, #ef9a61, #fcddc8);
}

.nav-link {
	color: #000 !important;
}

.bg-nav .nav-link:hover {
	color: #fff !important;
}

.bg-light {
	background: rgba(238, 238, 238, 0.5) !important;
}

@media (max-width: 768px) {
	.img-logo {
		height: 30px;
	}
}
