.image-text-container {
	position: relative;
	margin: 30px;
}

.image-left,
.image-right {
	border: 5px solid rgb(94, 36, 36);
	width: 40%;
	display: inline-block;
	height: 430px;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.image-left {
	left: 60px;
}

.image-right {
	left: 50%;
}

.image-text-left,
.image-text-right {
	border: 1px solid #000;
	position: relative;
	width: 55%;
	display: inline-block;
	z-index: -1;
}

.image-text-left {
	top: -100px;
	left: 30px;
	padding: 10px 30px 10px 50px;
}

.image-text-right {
	top: -150px;
	right: 35%;
	padding: 10px 160px 10px 30px;
}

.image-text-left h2,
.image-text-right h2 {
	margin-bottom: 30px;
}

.content-center {
	border-top: 5px solid black;
	padding: 20px 0;
	width: 90%;
	margin: 0 auto;
}

@media (max-width: 770px) {
	.image-left,
	.image-right {
		width: 100%;
		height: 450px;
		left: 0;
		margin: 10px auto;
	}

	.image-text-left,
	.image-text-right {
		top: 0;
		width: 100%;
		text-align: center;
	}

	.image-text-left {
		padding-left: 30px;
		left: 0;
	}

	.image-text-right {
		right: 0;
		padding-right: 30px;
	}
}

@media (max-width: 500px) {
	.image-left {
		height: 300px;
	}
}
